<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="legOS.testidf">

    <!-- Разрешение для интернета (для проверки подписки) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Разрешение для Google Play Billing -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".TanksHunterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TANKS HUNTER: LEGION QUIZ"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestIDF">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>